/*HKing 2016-03-10*/
:root{
	--bn: none ;
}
/*滚动条*/
::-webkit-scrollbar {width: 8px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #f4f4f4;margin: 0px;}
::-webkit-scrollbar-thumb{background: #cfcfcf;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #7e7e7e}
::-webkit-scrollbar-thumb:horizontal:hover{background: #7e7e7e}

body{
	/*background-color: #ECEFF1 !important;*/
	background-color: #f4f4f4 !important;
}
body.reading{
	background-color: #616161 !important;
}
.zu-top{
	background: #0767c8 !important;
}
.Avatar , .feed-item .avatar img,
.zh-question-followers-sidebar>.list .zm-item-img-avatar,
.zm-list-avatar{border-radius: 50% !important;}
/*滚动回页面顶部*/
.zh-backtotop{bottom: 30px !important;}
.zh-backtotop .btn-action{
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
    box-shadow: 3px 3px 8px rgba(0,0,0,.2);
	background-color: #FF4081 !important;
}
.zh-backtotop .stick{
	background-color: #ffffff !important;
	width: 3px !important;
	height: 26px !important;
	position: relative;
	border-radius: 4px;
	margin-top: 2px !important;
}
.zh-backtotop .stick:before{
	display: block;
	content: " ";
	width: 16px;
	height: 3px;
	background-color: #ffffff;
	transform: rotate(-45deg);
	margin: 4px 0 0 -12px;
	border-radius: 4px;
}
.zh-backtotop .stick:after{
	display: block;
	content: " ";
	width: 16px;
	height: 3px;
	background-color: #ffffff;
	transform: rotate(45deg);
	margin: -3px 0 0 -1px;
	border-radius: 4px;
}
.zh-backtotop .arrow{
	width: 22px !important;
    height: 3px !important;
    border: none !important;
	top: 10px !important;
	border-radius: 4px;
	background-color: #ffffff;
	position: relative;

}

.zu-top-add-question{
	width: 32px !important;
	border-radius: 50% !important;
	text-indent: 999px;
	position: relative;
	overflow: hidden;
}
.zu-top-add-question:after{
	display: block;
	content: "+";
	width: 100%;
	height: 100%;
	text-indent: 0px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 26px;
}


.top-nav-dropdown li:last-child>a ,
.ac-renderer,.modal-dialog,
.error .content{
    border-radius: 0 !important;
}
.zu-top-search-form .zu-top-search-button{
	display: none !important;
}
.zu-top-search-input{
	border-radius: 16px !important;
}
.feed-item,#zh-question-answer-wrap>.zm-item-answer,
.page-search .list .item,
#zh-list-answer-wrap .zm-item,
#zh-question-collapsed-wrap>.zm-item-answer,
.zm-pm-item{
	margin-top: 10px;
	padding: 10px !important;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
}
.error .content{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);}
.zu-noti7-popup .zm-profile-section-item .zm-item-link-avatar img{border-radius: 50% !important;}

.modal-dialog-title{border-radius: 0px !important;}
.zh-general-list.topstory .feed-meta .ignore{top: 0px !important;}
.tooltip .tooltip-inner,
.zg-form-text-input,
.zu-noti7-popup.zu-top-nav-live,
.zu-top-nav-live-inner{border-radius: 0px !important;}
.zg-form-text-input{border: solid #cccccc 1px !important;}
#zh-question-answer-wrap .zm-votebar,
#zh-question-collapsed-wrap .zm-votebar{margin: -10px 0 0 -52px !important;}
.ac-renderer{left: 12px !important;}
.zm-votebar.goog-scrollfloater-floating{top: 60px !important;display: none !important;}


.ProfileCard,
.zm-profile-section-wrap{
	background-color: #ffffff;
	border-radius: 0px !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2) !important;
}
.ProfileAvatarEditor,
.zm-topic-cat-sub img,.UserAvatar{
	border-radius: 50% !important;
	box-shadow: none !important;
}

/*阅读模式*/
.readingOne{
	position: absolute;
	top: 0px;
	left: auto;
	width: 900px;
	z-index: 999;
	font-size: 16px;
	background-color: #ffffff;
	padding-right: 60px !important;
}
.readingOne .comment-app-holder{
	max-width:850px !important;
}
.Modal-backdrop,.Modal-wrapper{
	z-index: 1000 !important;
}

.CornerButtons,button.FeedbackButton-button-3waL,
body.reading .zm-item-answer:not(.readingOne),
body.reading .zu-top,
body.reading .zu-main-sidebar,
body.reading .feed-item:not(.readingOne),
body.reading .list .item:not(.readingOne),
body.reading .zu-main-content-inner > *:not(.zh-question-answer-wrapper),
body.reading #zh-load-more,
body.reading #zh-footer,
body.reading .zu-global-notify,
body.reading .item-collapse,
body.reading .zu-button-more,
body.reading #zh-profile-activity-page-list > .zm-item:not(.readingOne),
body.reading #zh-profile-activity-wrap .zm-profile-section-head,
body.reading #zh-list-answer-wrap .zm-item:not(.readingOne),
body.reading .tab-navs,
body.reading .zu-main-content-inner > div[itemscope] > div:not(.zm-topic-list-container),
body.reading #zh-profile-answer-list .zm-item:not(.readingOne),
body.reading .zu-main-content-inner .border-pager,
body.reading .zu-main-content-inner .zm-profile-section-head,
body.reading #zh-main-feed-fresh-button,
body.reading #zh-profile-ask-wrap,
body.reading .feed-item .ignore,
body.reading #zh-profile-post-list > .zm-item:not(.readingOne),
body.reading #Profile-activities .List-item:not(.readingOne),
body.reading .Profile-sideColumn,
body.reading #Profile-activities .List-header,
body.reading .ProfileMain-tabs,
body.reading #ProfileHeader,
body.reading .AppHeader,
body.reading .ProfileMain-headerInner,
body.reading #ProfileMain .List-item:not(.readingOne),
body.reading .List > .List-header,
body.reading .Question-mainColumn .List-item,
body.reading .QuestionHeader,
body.reading .Question-sideColumn,
body.reading .CollapsedAnswers-bar,
body.reading .QuestionAnswers-answerAdd,
body.reading .Button.QuestionMainAction
{
	display: none !important;
}
body.reading .Card{border: none !important;}
body.reading .zu-main-content-inner > #zh-question-list,
body.reading .zu-main-content-inner > .list,
body.reading .zu-main-content-inner > .zm-topic-list-container,
body.reading .zu-main-content-inner > #zh-profile-activity-wrap,
body.reading .zu-main-content-inner > #js-explore-tab,
body.reading .zu-main-content-inner  .readingOne .zm-item-answer,
body.reading .zu-main-content-inner #zh-list-answer-wrap,
body.reading .zu-main-content-inner > div[itemscope],
body.reading .zu-main-content-inner > .zm-profile-section-wrap,
body.reading .Question-mainColumn .List-item.readingOne
{
	display: block !important;
}
body.reading .zu-main-content-inner > .zm-profile-section-wrap.zm-profile-section-grid,
body.reading .zm-profile-section-grid + .zm-profile-section-wrap
{
	display: none !important;
}
body.reading #zh-profile-activity-wrap{border: none !important;}
body.reading #zh-profile-activity-wrap .readingOne,
#zh-profile-answer-list-outer .readingOne
{padding-right: 20px;}
body.reading #zh-profile-activity-wrap .readingOne .zm-profile-section-main,
#zh-profile-answer-list-outer .readingOne .question_link
{margin-left: 12px;}
body.reading .zu-main-feed-con{border-top: none;}
body.reading .zm-meta-panel,
body.reading .zm-editable-toolbar-container{top: 0 !important;}
body.reading .zh-backtotop{margin-left: 500px !important;}

.zm-votebar .up, .zm-votebar .down{background: #ffffff !important;}
.zm-votebar .up:hover, .zm-votebar .down:hover{background: #698ebf !important;}
body.reading .zm-editable-content{padding: 0 20px;}

.item-collapse{
	display: block;
	left: -webkit-calc((100% - 960px) / 2 + 592px) !important;
  	text-indent: -9999px;
  	width: 30px;
  	height: 30px;
	overflow: hidden;
	background-size: 80% !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
	background-position: center center !important;
  	background-image: url("chrome-extension://__MSG_@@extension_id__/res/pic/up.svg") !important;
}

.zg-btn-green, .zg-btn-follow,.zg-btn-blue{
	background: #8ab923 !important;
	border: none !important;
	border-radius: 2px !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2) !important;
	color: #ffffff !important;
}
.zg-btn-blue{background: #1472cf !important;}
.zg-btn-white{
	background: #fafafa !important;
	border: none !important;
	border-radius: 2px !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2) !important;
}

body.reading #zh-profile-activity-wrap .zm-votebar{margin: 0px 0px 0px -46px !important;}
.comment-app-holder > div{border-radius: 0px !important;}
.readingOne{border-radius: 3px !important;}
#js-explore-tab .tab-navs .tab-nav.active>a,
html.no-touchevents .tab-navs li.tab-nav.active>a:hover,
.tab-navs > li.tab-nav.active>a
{
	background: #f4f4f4 !important;
}
.zm-topic-cat-main .zm-topic-cat-item a{background-color: #ffffff;}
.topics-plaza{
	background: #ffffff !important;
	border-radius: 0px !important;
	border-color: #f4f4f4 !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2) !important;
}
#zh-topic-feed-list .combine:not(.first-combine) .zm-votebar{margin: -10px 0 0 -70px !important;}
#zh-topic-feed-list .combine:not(.first-combine) .zm-item-vote{margin: -10px 0 0 -22px !important;}
.page-search .related .list{background-color: #ffffff;}
ul.related-items .item-card.topic-card{box-shadow: none !important;}

.zm-light-box.modal-dialog{
	background-color: rgba(0, 0, 0, 0.8) !important;
}
.reading .zm-profile-answer-page{
	background: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important
}
/*专栏*/
.comment-list-container.ui-pagination{background: transparent !important;}
.receptacle{padding: 20px !important; margin-top: 20px !important;margin-bottom: 20px !important;}
